/* 즐겨찾기 */
.bookmark-background {
  position: relative;
  left: calc(50% - 350px);

  width: 800px;
  height: 700px;
  
  top: 10px;

  background-color: #ddd;
  border: 2px solid #aaa;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #333;
}

.bookmark-cards {

  width: 100%;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-bookmark {
  height: 100%;
  font-size: 1.5rem;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
}


/* 전국 미세먼지 */
.map-background {
  width: 500px;
  height: 650px;

  position: relative;
  left: calc(50% - 250px);
  top: 30px;

  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #ddd;
}


/* 전국 이미지 */
.map-image {
  position: absolute;
}

.seoul {
  left: 176px;
  top: 163px;
}

.incheon {
  left: 160px;
  top: 168px;
}

.gyeonggi {
  left: 140px;
  top: 110px;
}

.gangwon {
  left: 194px;
  top: 77px;
}

.chungbuk {
  left: 214px;
  top: 207px;
}

.chungnam {
  left: 121px;
  top: 222px;
}

.daejeon {
  left: 214px;
  top: 274px;
}

.sejong {
  left: 204px;
  top: 252px;
}

.gyeongbuk {
  left: 256px;
  top: 189px;
}

.daegu {
  left: 299px;
  top: 319px;
}

.gyeongnam {
  left: 239px;
  top: 330px;
}

.busan {
  left: 340px;
  top: 373px;
}

.ulsan {
  left: 354px;
  top: 347px;
}

.jeonbuk {
  left: 146px;
  top: 306px;
}

.jeonnam {
  left: 116px;
  top: 368px;
}

.gwangju {
  left: 163px;
  top: 390px;
}

.jeju {
  left: 122px;
  top: 520px;
}

/* 지역 미세먼지 수치 표시 */
.map-banner {
  width: 60px;
  height: 20px;

  font-size: 0.5rem;

  display: flex;
  flex-direction: row;

  position: absolute;

  background-color: #fff;
  border: 2px solid #333;
  border-radius: 5px;

  z-index: 2;
}

.map-banner .region-name {
  flex-grow: 0.5;
  border-right: 1px solid #333;
}

.map-banner .pm-value {
  flex-grow: 2;

  display: flex;
  justify-content: center;

  color: #fff;
  font-weight: 700;
}

.map-banner.seoul {
  left: 172px;
  top: 138px;
}

.map-banner.incheon {
  left: 92px;
  top: 176px;
}

.map-banner.gyeonggi {
  left: 192px;
  top: 194px;
}

.map-banner.gangwon {
  left: 270px;
  top: 145px;
}

.map-banner.chungbuk {
  left: 260px;
  top: 224px;
}

.map-banner.chungnam {
  left: 80px;
  top: 240px;
}

.map-banner.daejeon {
  left: 160px;
  top: 300px;
}

.map-banner.sejong {
  left: 160px;
  top: 230px;
}

.map-banner.gyeongbuk {
  left: 350px;
  top: 260px;
}

.map-banner.daegu {
  left: 290px;
  top: 294px;
}

.map-banner.gyeongnam {
  left: 260px;
  top: 370px;
}

.map-banner.busan {
  left: 340px;
  top: 412px;
}

.map-banner.ulsan {
  left: 380px;
  top: 330px;
}

.map-banner.jeonbuk {
  left: 180px;
  top: 340px;
}

.map-banner.jeonnam {
  left: 140px;
  top: 440px;
}

.map-banner.gwangju {
  left: 95px;
  top: 390px;
}

.map-banner.jeju {
  left: 100px;
  top: 500px;
}