.menu-tab {
  position: fixed;
  bottom: 10;
  right: calc(50% - 400px);
  width: 600px;
  height: 60px;

  display: flex;
  flex-direction: row;
}

.menu-tab-button {
  padding: 10px 0;
  flex-grow: 1;
  flex-basis: 0;
  
  text-align: center;
  font-size: 1rem;
  font-weight: 700;

  border: 2px solid rgba(245, 226, 204, 0.8);
  border-left: none;
  border-right: 2px solid rgba(190, 166, 139, 0.8);
  background-color: rgba(202, 202, 202, 0.7);
}

.menu-tab-button:first-child {
  border-radius: 5px 0 0 5px;
  border-left: 2px solid rgba(245, 226, 204, 0.8);
}

.menu-tab-button:last-child {
  border-radius: 0 5px 5px 0;
  border-left: none;
  border-right: 2px solid rgba(245, 226, 204, 0.8);
}

.menu-tab-button:hover {
  border: 2px solid rgba(197, 180, 161, 0.8);
  background-color: rgba(157, 157, 157, 0.8);
}