.region-card {
  border: 2px solid #333;
  
  font-size: 30px;
  display: flex;
  flex-direction: row;

  width: 80%;
  margin: 15px 0;

  background-color: #ddd;
}

.region-card .region-name {
  margin: 10px;
}

.region-card .dust-value {
  margin: 10px;
}

.region-card .state-img {
  
}